<header id="header" class="alt">
  <h1><a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            {{ $currentPage := .Page }}
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <li class="{{ if $currentPage.IsMenuCurrent " main" . }} active {{ end }}"><a href="{{ .URL  | relLangURL }}">{{ .Name }}</a></li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>