<footer>
  <h1>Footer content</h1>
</footer>
<div class="cookie-notifier">
  <p>Unsere Webseite verwendet Cookies, um die Benutzererfahrung zu verbessern und den bestmöglichen Service zu bieten. Durch die weitere Nutzung der Webseite stimmen Sie der Verwendung der Cookies zu.
    <a href="{{ .Site.BaseURL }}impressum">Klicken Sie hier, um die Datenschutzrichtlinie anzuzeigen</a>.</p>
  <a href="#" class="btn btn-primary cookie-btn cookie-btn__accept">ZUSTIMMEN</a>
  <a href="#" class="btn btn-primary cookie-btn">NICHT ZUSTIMMEN</a>
</div>