<header>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{- if .Site.Params.logo -}}
        <a href="{{ "" | absLangURL }}">
          <img src="{{ relURL .Site.Params.logo }}" alt=" {{ .Site.Title }}"/>
        </a>
        {{ end }}
      </div>
      <div class="navbar-collapse collapse ">
        <ul class="nav navbar-nav">
          {{ $currentPage := .Page }}
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="{{ if $currentPage.HasMenuCurrent " main" . }} active {{ end }}">
          <a href="#" class="dropdown-toggle "
             data-toggle="dropdown"
             data-hover="dropdown"
             data-delay="0"
             data-close-others="false">{{ .Name }}<b class=" icon-angle-down"></b>
          </a>
          <ul class="dropdown-menu">
            {{ range .Children }}
            <li><a href="{{ .URL  | relLangURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
          </li>
          {{ else }}
          <li class="{{ if $currentPage.IsMenuCurrent " main" . }} active {{ end }}"><a href="{{ .URL  | relLangURL }}">{{ .Name }}</a></li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</header>