<section id="three" class="wrapper special {{ .Params.background_style }}">
    <div class="inner">
        {{ if or (isset .Params "headline") (isset .Params "textarea")}}
        <header class="major">
            <h2>{{ .Params.headline }}</h2>
            <p>{{ .Params.textarea }}</p>
        </header>
        {{ end }}
        <ul class="features">
            {{ if .Params.card_elements }}
                {{ range .Params.card_elements }}
                <li class="icon {{ .icon }}">
                    {{ with .title }}
                        <h3>{{ . }}</h3>
                    {{ end }}
                    {{ with .text }}
                        <p>{{ . | markdownify }}</p>
                    {{ end }}
                </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</section>