<section id="one" class="wrapper {{ .Params.background_style }} special">
  <div class="inner">
    <header class="major">
      {{ with .Params.headline }}
      <h2>{{ . }}</h2>
      {{ end }}
      {{ with .Params.textarea }}
      <p>{{ . | markdownify  }}</p>
      {{ end }}
      {{ if and (.Params.action_button.link) (.Params.action_button.text) }}
      <ul class="actions special">
        <li><a href="{{ .Params.action_button.link }}" class="button primary">{{ .Params.action_button.text }}</a></li>
      </ul>
      {{ end }}
    </header>
  </div>
</section>